*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
/* navigation bar */
 header{
    height: 100px;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.navbar, .nav__links{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    height:80px;
    margin-left:100px;
    cursor:pointer;
    margin-right: auto;
    margin-top:15px;
    margin-bottom: 15px;
}
.item a{
    color:black;
    margin: 0px 25px;
    font-size:24px;
}
.User{
    margin-right:100px;
    margin-left:25px;
    cursor:pointer;
}
.Cart{
    margin:0px 25px;
    cursor:pointer;
}
.box input{
    background: transparent;
    border:none;
    width: 150px;
    font-size: 25px;
    text-align: center;
    width:px;
    margin:3px;
    padding:3px;
}
.box hr{
    line-height: 200px;
}
nav .bar{
    position: relative;
    margin:auto;
}
nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display:none;
}
@media screen and (max-width:1250px){
   header{
       display:block;
   }
   header .logo{
       display:inline-block;
       padding:5px 30px;
   }
   header .box{
    width:100%;
    display:inline-flex;
    justify-content: center;
    margin-bottom:15px;
   }
   header .box input{
       width:100%;
   }
   .navbar{
       display:flex;
       justify-content: center;
       flex-direction: column;
       margin: 25px 175px;
       background:rgb(150, 141, 141);
       height: 100%;
       width:100%;
       position:absolute;
       background-position: cover;
       background-size: cover; 
   }
   .box{
       border:2px solid rgb(2, 2, 2);
   }
   .nav__links{
       display: flex;
       flex-direction: column;
       margin: 5px;
   }
    .User{
       margin: 2px 20px;
   }
   .sec1{
       margin-top:400px;
   }

}
/* section-1 */

.sec1{
    display: flex;
    background-color:#F9CAC2;
    justify-content: space-between;
    align-items: center;

}
.sec1 h1{
    font-size:80px;
    display:inline-block;
    margin-left: 100px;
    font-weight:bold;
}
.sec1 img{
    height:600px;
    margin-left: 0px;
}
.sec1 p{
    font-size: 24px;
    width:650px;
    margin-top: 20px;
    margin-left:100px;
}
.sec1 button{
    color:white;
    background-color: black;
    margin: 80px 100px;
    width:150px;
    height: 40px;
    padding:5px;
}


/* section-2 */
#work{
    display: flex;
    justify-content: space-between;
}
#head{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:36px;
    margin-bottom: 70px;
}
.sec2{
    margin: 100px 200px;
}
.card{
    margin: 0px 50px;
    transition: all 1s;
}
.card:hover{
     background-color:#F9CAC2;
     border-radius: 40px;
     cursor: pointer;
    }
.lines{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align:center;
}
.card img{
    margin: 0px 40px;
}
.card p{
    size:18px;
    text-align:center;
}
#left{
    display:flex;
}
.first_card{
    margin:0px;
    padding:0px;
}
/* secttion-3 */
#head2{
    font-size:32px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.insert{
    display:flex;
    justify-content:space-between;
}
.image{
   height:500px;
   width:550px;
   margin:100px;
   margin-bottom: 0px;
   border-radius: 50px;
   transition:all 1s;
}
.image:hover{
    height: 520px;
    width: 570px;
}
.insert h1, .insert p, .btn{
    margin:15px;
    margin-left: 100px;
}
.btn{
    color:white;
    background-color: black;
    width:150px;
    height: 40px;
    padding:5px;
}
/* section-4 */
.sec4 img{ 
    width: 900px;
    height: 600px;
}
.sec4{
    display: flex;
    margin-top: 200px;
    justify-content:space-between;
    align-items: center;
    background-color: #EAFAFA;
}
.sec4 h1{
    font-size:80px;
}
.sec4 p{
    font-size: 36px;
    font-style: bold;
    text-align: end;
    margin-top:30px;
    margin-right: 100px;
}
.sec4 button{
    font-size: 14px;
    color:white;
    background-color: black;
    width:250px;
    height: 40px;
    padding:5px;
    margin:25px;
    margin-left: 280px;
}
/* section-5 */
.sec5{
    display: flex;
    flex-direction: column;
    margin: 150px;
    justify-content: center;
    align-items: center;
    background-color:#FBFFD4 ;
    height: 500px;
}
.sec5 h1{
    font-size: 36px;
    margin: 10px 70px;
    margin-bottom: 0px;
}
.sec5 div img{
   justify-content:center;
   margin:10px;
   margin: 20px 20rem;

}
.sec5 p{
    font-size: 24px;
    width:784px;
    margin-top: 10px;
    text-align: center;
}
/* section-6 */
.sec6{
    background-color:#F9CAC2 ;
}
.inside_sec6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:80px;
}
#footer{
    display:flex;
}
#footer h2{
    margin:30px;
}
#count{
    color:white;
    font-size: 125px;
    text-align: end;
}
#customer_count{
    font-size: 72px;
}

.inside2_sec6{
    display:flex;
    justify-content: space-between;
}
.inside2_sec6 p{
   margin: 40px 80px;
   margin-bottom: 40px;
}
.inside2_sec6 div{
    margin:50px;
}
.inside2_sec6 div a{
    margin:40px;

}

